@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Change Me", "changeMe")</li>
    <li>@Html.ActionLink("Dog for sale", "dogForSale")</li>
    <li>@Html.ActionLink("jQuery Effect-1", "jQueryEffect1")</li>
    <li>@Html.ActionLink("Slide Picture", "slidePicture")</li>
</ul>