@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/app/mixins/Log.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/SimpleWindow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/model/Math.js")" type="text/javascript"></script>

<h2>Index</h2>

<input type=button id="simple-window" value="SimpleWindow"></input>

<div id="myBooks"></div>

<script type="text/javascript">
    Ext.onReady(function () {
        $('#simple-window').on('click', function () {
            var wimpleWindow = Ext.create('app.view.SimpleWindow');
            wimpleWindow.startLogging();
            wimpleWindow.setNote("555");
            console.log(wimpleWindow.getNote());
            wimpleWindow.show();
        });

        console.log("sum: " + app.model.MoreMath.multiply(100, 20));

        var myBooks = [
            { title: 'Secrets of the JavaScript Ninja', author: 'John Resig, Bear Bibeault' },
            { title: 'jQuery in Action, Second Edition', author: 'Bear Bibeault, Yehuda Katz' },
            { title: 'Pro JavaScript Techniques ', author: 'John Resig' }
        ];

        var store = Ext.create('Ext.data.ArrayStore', {
            fields: ['title', 'author']
        });

        store.loadData(myBooks);

        var grid = Ext.create('Ext.grid.GridPanel', {
            store: store,
            columns: [
                { header: 'Title', dataIndex: 'title', width: 200 },
                { header: 'Author', dataIndex: 'author', width: 200 }
            ],
            stripeRows: true,
            height: 140,
            width: 430,
            title: 'Ext JS Books - Ext 3',
            stateId: 'grid',
            renderTo: 'myBooks'
        });
    });
</script>